// -- COLORS -- //
$color-white: #fff;

$color-primary: #F35F35;
$color-secondary: #6f1d4d;
$color-claret: #6C0041;
$color-purple-opacity:#AC7D8E;
$color-purple-opacity2:#480830;
$color-purple-opacity3:#3A1C56;

$color-pink:#be207c;
$color-pink2:#BE207C;

$color-blue: #5451C7;
$color-blue2:#1F194A;

$color-bg-secondary: #D9D9D9;

$color-black-1:#000000;
$color-black-2: #1C1C1C;
$color-black-3: #333333;
$color-black-4: #E0E0E0;
$color-black-5:#3A3A38;
$color-black-6: #666666;


$color-black-70: #707070;

$color-button-disabled: #C9C9C9;

$color-gray-light:#CDCDCD;
$color-gray-light-2:#F5F5F5;
$color-gray-light-3:#D7D7D7;
$color-gray-light-4: #EAEAEA;



// -- FONTS -- //
$ff-albert-bold: 'FSAlbertBold',
sans-serif;
$ff-albert-regular: 'FSAlbertRegular',
sans-serif;